body {
  /* Tag */
  /* color code in hexadecimal */
  /*- 2 firts digits (red), 2 middle digits (green), 2 last digits (blue)  */
  background-color: #fd4848dc;
  font: normal clamp(1em, 1.02em, 1.2em) Arial;
}

header {
  /* Tag */
  width: 500px;
  margin: auto;
  color: white;
  text-align: center;
}

section {
  /* Tag */
  background-color: rgb(255, 113, 113);
  border-radius: 7px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

footer {
  /* Tag */
  margin-top: 22px;
  color: white;
  text-align: center;
  font-style: italic;
  font-weight: 500;
}

.box {
  /* class */
  display: block;
  margin-top: 6px;
}
