body {
  background-color: #5585e6d2;
  font: normal 15pt Arial;
}

header {
  width: 500px;
  margin: auto;
  color: white;
  text-align: center;
}

section {
  background-color: #9db6ea;
  border-radius: 7px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

footer {
  margin-top: 22px;
  color: white;
  text-align: center;
  font-style: italic;
  font-weight: 500;
}

.photo {
  margin-top: 13px;
}