body {
    background-color: rgb(113, 238, 238);
    font: normal 15pt Arial;
}

header {
    width: 500px;
    margin: auto;
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 7px;
    padding: 15px;
    width: 500px;
    margin: auto;
}

footer {
    margin-top: 22px;
    color: white;
    text-align: center;
    font-style: italic;
}

